<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Resume</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>I'm keen on studying Geometric Deep Learning, which is about designing Neural Network architechtures which respect the Symmetries in the data. 
Symmetry inspired architectures generalize better, are more data efficient, avoid data augmentation and are more robust to adversarial attacks.</p>
      </div>
      <div class="col-lg-4">
        <p>I did my Bachelors in Mechanical Engineering from Savitribai Phule Pune University (2016). 
My past work experience has been:<br>
        <ul>
          <li>Research Associate and Teaching Assistant at <a href="https://www.equitechfutures.com/" target="_blank">Equitech Futures</a></li>
          <li>Semi-Professional Badminton Player and <a href="https://www.youtube.com/@BadmintonSchoolHINDI/featured" target="_blank">Coach</a></li> 
        </ul>
        </p> 
      </div>
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <a href="https://github.com/jeromelachaud/freelancer-theme" class="btn btn-lg btn-outline">
          <i class="fa fa-download"></i> Resume
        </a>
      </div>
    </div>
  </div>
</section>
