<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <p><<b> WORK EX </b>><br>
        <ul style="font-size: 20px;">
          <li style="margin-bottom: 10px;">Research Associate and Teaching Assistant @ <a href="https://www.equitechfutures.com/" target="_blank" style="color:white;"><u><b>Equitech Futures</b></u></a><br>[2022-2023]<br></li>
          <li style="margin-bottom: 10px;">Professional Badminton Player and Coach @ <a href="https://www.youtube.com/@BadmintonSchoolHINDI/featured" target="_blank" style="color:white;"><u><b>Badminton School</b></u></a><br>[2014-2022]<br></li>
          <li style="margin-bottom: 10px;">Machine Learning Educator and Storyteller on <a href="https://www.youtube.com/@kartikc1233" target="_blank" style="color:white;"><u><b>YouTube</b></u></a><br>[2020-Present]<br></li>
          <li style="margin-bottom: 10px;">Scriptwriter and Short-Video Producer as a <b>Freelancer</b> <br>[2019-Present]<br></li>
          <li style="margin-bottom: 10px;">Sports Gamification and Android Development @ <a href="http://sportshackwellness.com/" target="_blank" style="color:white;"><u><b>SportShack Wellness</b></u></a><br>[2017-2018]<br></li>
        </ul>
        <br>
        <br>
        </p> 
      </div>
      <div class="col-lg-4 col-lg-offset-2">
        <p><<b> MOTIVATION </b>><br>
          I'm keen on studying Geometric Deep Learning, which is all about designing Neural Network architechtures which respect the Symmetries in the data.<br> 
Symmetry inspired architectures generalize better, are more data efficient, avoid data augmentation and are more robust to adversarial attacks.
          <br><br><<b> EDUCATION </b>><br>
I did my Bachelors in Mechanical Engineering from Savitribai Phule Pune University<br>
            <br><br><<b> MISC </b>><br>
              I love learning new things and going down rabbit holes using the Internet, which I feel is still undervalued.
              Stone tools were used 3 millions years ago, first fire was lit 2 million years ago, and the internet - 40 years ago.
              </p>
      </div>     
    </div>
  </div>
</section>
