<!-- Contact Section -->
<section id="contact">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <p><<b> LET'S CONNECT !</b>><br>
        <i>Stone tools were used three millions years ago, first fire was lit two million years back, and the internet - 40 years.</i><br>
        It is where I love meeting new people and learning new things. Let's discuss working on a collaboration for any of the following:<br>
        <ul>
          <li>Data Analysis, Visualization and Communication</li>
          <li>Designing a <i>chatgpty</i> workflow</li>
          <li>ML/DL Project Consultation</li>
          <li>Teaching:  <a href="https://negativefeedbackloops.github.io/" target="_blank" style="color:white;"><u><b>Introduction to ML/DL</b></u></a>.</li>
        </ul>

        </p>
        <p>Schedule a Discovery Call with me <a href="https://calendly.com/kartik-ml-meet/coffee-chat-kartik" target="_blank" style="color:white;"><u><b>here</b></u></a>.</p>
        <p>Email: [name].niszoig@gmail.com</p>
        <ul class="list-inline">
          {% for network in site.social %}
          <li>
            <a href="{{ network.url }}" class="btn-social btn-outline"><i
                class="fa-brands fa-fw fa-{{ network.title }}"></i></a>
          </li>
          {% endfor %}
        </ul>

        
      </div>  
    </div>
  </div>
</section>
