<!-- Contact Section -->
<section id="contact">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <p><b> I love learning new things and going down rabbit holes using the Internet, which I feel is still undervalued.
              Stone tools were used 3 millions years ago, first fire was lit 2 million years ago, and the internet - 40 years ago.</b><br></p>
        <ul class="list-inline">
          {% for network in site.social %}
          <li>
            <a href="{{ network.url }}" class="btn-social btn-outline"><i
                class="fa-brands fa-fw fa-{{ network.title }}"></i></a>
          </li>
          {% endfor %}
        </ul>
      </div>
      <div class="col-lg-4 col-lg-offset-2">
        <p><b> Let's collaborate over a project, consultation and coaching</b><br></p>
        
      </div>        
    </div>
  </div>
</section>
