<!-- Contact Section -->
<section id="contact">
  <div class="container">
    <div class="row">
        <p><h5>Let's get in touch!</h5></p>
        <p><i>Stone tools were used three millions years ago, first fire was lit two million years ago, and the internet - 40 years ago.</i><br></p>
        <p>It is where I love learning new things and meeting new people. Discuss working on a collaboration for a Project at:<br></p>
        <p>[name].niszoig@gmail.com</p>
        <ul class="list-inline">
          {% for network in site.social %}
          <li>
            <a href="{{ network.url }}" class="btn-social btn-outline"><i
                class="fa-brands fa-fw fa-{{ network.title }}"></i></a>
          </li>
          {% endfor %}
        </ul>
        
    </div>
  </div>
</section>
