<!-- Header -->
<header>
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <img class="img-responsive" src="img/profile.png" alt="profile-pic" />
        <ul class="list-inline">
          {% for network in site.social %}
          <li>
            <a href="{{ network.url }}" class="btn-social btn-outline"><i
                class="fa-brands fa-fw fa-{{ network.title }}"></i></a>
          </li>
          {% endfor %}
        </ul>
      </div>
      <div class="col-lg-4 col-lg-offset-2">
        <p>Hey! I'm <b>Kartik Chincholikar</b>. I'm a Deep Learner specializing in communicating complex ideas in simple words.
          I can help you take design decisions and make the most out of domain knowledge, while allowing the data to do the rest.
        </p>
      </div>
    </div>
  </div>
</header>
