<!-- Header -->
<header>
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <img class="img-responsive" src="img/profile.jpg" alt="Kartik Chincholikar" />
        <p position:relative; top:-5px;>a man who is into AI, Histories and other Mysteries</p>
      </div>
      <div class="col-lg-8">
        <p style="text-align:left"><br>
          <b>Interests:</b><br>
          <ul>
            <li>Machine Learning and Data Science</li>
            <li>Visual Communication</li>
            <li><a href="https://intro2ai.github.io/en/" target="_blank" style="color:rgb(0, 0, 0);"><u><b>Teaching</b></u></a></li>
          </ul>
        </p>
        <br>
        <p><i class="fas fa-download pr-1 fa-fw"></i> Download my <a href="img/RESUME_Kartik_Chincholikar.pdf" target="_blank" style="color:rgb(0, 0, 0);"><u><b>Resume</b></u></a>.</p>
        <ul class="list-inline">
          {% for network in site.social %}
          <li>
            <a href="{{ network.url }}" class="btn-social btn-outline"><i
                class="fa-brands fa-fw fa-{{ network.title }}"></i></a>
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</header>
