<!-- Header -->
<header>
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <img class="img-responsive" src="img/profile.png" alt="Kartik Chincholikar" />
        
      </div>
      <div class="col-lg-4 col-lg-offset-2">
        <p>Hey! I'm <b>Kartik Chincholikar</b>. I can help you take design decisions to make the most out of domain knowledge, while allowing the data to do the rest.<br>
          Communicating complex ideas in an easy manner is my superpower &#127744;
        </p>
        <ul class="list-inline">
          {% for network in site.social %}
          <li>
            <a href="{{ network.url }}" class="btn-social btn-outline"><i
                class="fa-brands fa-fw fa-{{ network.title }}"></i></a>
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</header>
