<!-- Portfolio Modals -->
{% for post in site.posts %}
<div class="portfolio-modal modal fade" id="portfolioModal-{{ post.modal-id }}" tabindex="-1" role="dialog"
  aria-hidden="true">
  <div class="modal-content">
    <div class="close-modal" data-dismiss="modal">
      <div class="lr">
        <div class="rl">
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <div class="modal-body">
           <!--<h2>{{ post.title }}</h2><br>--> 
           <!--<img src="img/portfolio/{{ post.img }}" class="img-responsive img-centered" alt="{{ post.alt }}">--> 
            
            {% if post.client %}
            <div class="embed-responsive embed-responsive-16by9">
              <iframe class="embed-responsive-item" src= {{ post.client }} ></iframe>
            </div>
            {% endif %}
            <style>
              .bold-helvetica {
                font-family: Helvetica, Arial, sans-serif; /* Use Helvetica or fallback to Arial if unavailable */
                font-weight: normal; /* Make the text bold */
                text-transform: lowercase; /* Convert text to all uppercase */
              }
            </style>
            <br><p style="text-align: left; color: rgb(0, 0, 0);" class="bold-helvetica">{{ post.description }}</p><br>
            
            <!--<ul class="list-inline item-details">
              {% if post.project-date %}
              <li>Date:
                <strong>{{ post.project-date }}</strong>
              </li>
              {% endif %}
              {% if post.category %}
              <li>Service:
                <strong>{{ post.category }}</strong>
              </li>
              {% endif %}
            </ul>-->
            
            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i>
              Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endfor %}
