<!-- Portfolio Grid Section -->
<section id="portfolio">
  <p><br></p>
  <div class="container portfolio-flex-grid">
    <div class="portfolio-flex-row">
      {% for post in site.posts %}
      <div class="portfolio-flex-item portfolio-item">
        {% if post.external-client %}
          <a href="{{ post.external-client }}" class="portfolio-link" target="_blank" rel="noopener noreferrer">
        {% else %}
          <a href="#portfolioModal-{{ post.modal-id }}" class="portfolio-link" data-toggle="modal">
        {% endif %}
          <div class="caption">
            <div class="caption-content">
              <i class="fa fa-search-plus fa-3x"></i>
            </div>
          </div>
          {% assign filename = post.img | strip | downcase %}
          {% assign last_five = filename | slice: -5, 5 %}
          {% if last_five == '.webm' %}
            <video style="width: 100%; height: auto; object-fit: cover;" loop autoplay muted playsinline>
              <source src="img/portfolio/{{ post.img }}" type="video/webm">
              Your browser does not support the video tag.
            </video>
          {% else %}
            <img src="img/portfolio/{{ post.img }}" style="width: 100%; height: auto; object-fit: cover;" alt="{{ post.alt }}">
          {% endif %}
        </a>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
